.App {
  text-align: center;
  background-color: #fff;
  min-height: 100vh;
  color: #282c34;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tooltip {
  border: 0;
  position: absolute;
  border-radius: 8px;
  background-color: #282c34;
  opacity: 0;
  padding: 0.5%;
  color: white;
}

.tooltip-line {
  display: block;
}

.tooltip-open {
  opacity: 0.8;
}

#legend {
  position: absolute;
  right: 150px;
  top: 300px;
  color: white;
}

#legend div {
  padding: 1%;
  border-radius: 4px;
}

#legend .doping {
  background-color: #1f77b4;
}

#legend .no-doping {
  background-color: #ff7f0e;
}